@import url('https://fonts.googleapis.com/css2?family=Lato');

* {
  margin: 0;
  padding: 0;
}
/* Tema padrão: dark */
:root {
  --text-primary: #fff; 
  --btn-text-color: #fff;
  --bg-primary: #34344e; /* (Fundo Principal) */
  --bg-secondary: #3a415a; /* (Fundo de Seções) */
  --btn-bg-hover: #566981; /*  (Fundo do Botão Hover) */
  --text-secondary: #89a7b1; /* (Texto Secundário/Hover Nav) */
  --color-highlight: #cbdad5; /* (Destaque Secundário/Título) */
  --bg-header-footer: #2f2f46; /* (Fundo Header/Footer) */
  --text-accent: #00FFFF; /* (Destaque Principal) */
  --color-icons: #FFFFFF; /* icones */
}

/* Tema claro: light */
.light {
  --text-primary: #000000; 
  --btn-text-color: #fff; 
  --bg-primary: #FFFFFF; 
  --bg-secondary: #F1F5F9; 
  --btn-bg-hover: #2b80fff7; 
  --text-secondary: #45556C; 
  --color-highlight: #155DFC; 
  --bg-header-footer: #F1F5F9; 
  --text-accent: #2B7FFF;
  --color-icons: #62748E; 
}


body {
  background-color: var(--bg-primary); 
  height: 100vh;
  font-family: 'Lato';
}
/* CONFIGURANDO O HEADER */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: .8rem;
  background-color: var(--bg-header-footer); 
  min-height: 50px;
}
/* CONFIGURANDO A LOGO */
.box-img-header {
  height: 100%;
}

.img-logo {
  max-width: 60px;
  height: 100%;
  border-radius: 50px;
}

/* ESTILIZANDO OS LINKS DE NAVEGAÇÃO NA TAG NAV */

nav {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links {
  text-decoration: none;
  color: var(--text-primary); 
}

.nav-links:hover{
  color: var(--text-secondary); 
  transition: .4s; /*4 milésicmo de segundo*/
  text-decoration: underline;
  cursor: pointer;
}

/* ESTILIZANDO OS BOTÕES */
.box-btn-actions {
  display: flex;
  gap: 1rem;
}

:is(button,.link-action) {
  padding: .6rem;
  font-size: .9rem;
  border-radius: 6px;
  cursor: pointer;
  transition: .4s;
}

.btn-action{
  background-color: transparent;
  border: 1px solid var(--text-primary); 
  color: var(--text-primary); 
}
/* EFEITOS AO PASSAR O MOUSE */
.btn-action:hover{
  background-color: var(--btn-bg-hover); 
  border: 1px solid var(--btn-bg-hover); 
  color: var(--btn-text-color); 
}

.link-action{
  text-decoration: none;
  width: 200px;
  text-align: center;
}

/* FORMATANDO NOSSOS ELEMENTOS CENTRAIS */
main{
  display: flex;
  flex-direction: column;
  gap: 2rem; /*aumentando o espaço entre as sections*/
}

section{
  padding: 4rem;
}

.first-section{
  display: flex;
  justify-content: space-evenly; /*distribui o espaços entre os elementos igualmente*/
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  min-height: 650px;
}

/* Pegando a primeira div da section */

.first-section > div{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 300px;
}

.first-section p {
  color: var(--text-primary); 
}

/* Configurando o texto da primeira seção */
h1{
  font-size: 4rem;
  color: var(--text-primary); 
  letter-spacing: 8px; /* Espaçamento entre as letras*/
}

strong {
  color: var(--text-accent);
}
.box-img-main{
  max-width: 400px;
  padding: 1rem;
}

.img-profile{
  border-radius: 50%;
  width: 100%; /*ajudar na responsividade da página*/
}
/* ESTILIZANDO A SEÇÃO DE EXPERIÊNCIAS */
:is(.second-section, .fourth-section){  /*:is() é uma pseudo-classe do CSS que simplifica seletores longos ao agrupar vários seletores em uma lista*/
  background-color: var(--bg-secondary); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.second-section ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;  /*alinhando na vertical os itens*/
  gap: 2rem;
  flex-wrap: wrap;
}

.second-section ul li{
  color: var(--text-secondary); 
  letter-spacing: 2px;
  font-weight: bold;
}

.second-section ul li:hover{
  color: var(--color-highlight);
  transition: .4s;
  cursor: default;
  
}
.title{
  color: var(--color-highlight); 
}

.third-section{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.third-section > div{
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.third-section > div img{
  width: 250px;
  border-radius: 10px;
}

.third-section > div p{
  max-width: 600px;
  color: var(--text-primary); 
  text-align: justify;
}

footer{
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--bg-header-footer); /* Adicionado para consistência com o header */
}

footer > div{
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.bi{
  fill: var(--color-icons); 
}

#my-projects-list {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

#my-projects-list a{
  text-decoration: none;
  color: var(--text-secondary); 
}

#my-projects-list a:hover{
  color: var(--color-highlight); 
  transition: .4s;
  cursor: pointer;
}

:is(.img-profile, .img-who-am-i){
  box-shadow: 1px 1px 1px 1px var(--text-accent); 
}