@import url('https://fonts.googleapis.com/css2?family=Lato');

* {
  margin: 0;
  padding: 0;
}
/* Tema padrão: dark */
:root {
  --text-color: #fff;
  --color1: #34344e;
  --color2: #3a415a;
  --color3: #566981;
  --color4: #89a7b1;
  --color5: #cbdad5;
  --color6: #2f2f46;
  --cyan1: #00FFFF;
  --icons:#FFFFFF;
}

.light {
  --text-color: #000000; /* COR DO TEXTO*/
  --color1: #FFFFFF;  /* COR DE FUNDO*/
  --color2: #F1F5F9;  /* COR DO TEXTO*/
  --color3: #2B7FFF;  /* COR DO TEXTO*/
  --color4: #45556C;  /* COR DO TEXTO*/
  --color5: #155DFC;  /* COR DO TEXTO*/
  --color6: #F1F5F9;  /* COR SECTIONS*/
  --cyan1:  #2B7FFF;  /* COR DO TEXTO*/
  --icons: #62748E; /*COR BOTÕES DE CONTATO*/
}


body {
  background-color: var(--color1);
  height: 100vh; /*E ADAPTA A TELA */
  font-family: 'Lato';
}
/* CONFIGURANDO O HEADER */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem; /*ESPAÇAMENTO ENTRE OS ELEMENTOS*/
  flex-wrap: wrap;  /*NA RESPONSIVIDADE ELE QUEBRA OS ELEMENTO PARA A LINHA ABAIXO*/
  padding: .8rem; /*1 rem equivale a 16px*/
  background-color: var(--color6);
  min-height: 50px;
}
/* CONFIGURANDO A LOGO */
.box-img-header {
  height: 100%;
}

.img-logo {
  max-width: 60px;
  height: 100%;
  border-radius: 50px;
}

/* ESTILIZANDO OS LINKS DE NAVEGAÇÃO NA TAG NAV */

nav {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links {
  text-decoration: none;
  color: var(--text-color);
}

.nav-links:hover{
  color: var(--color4);
  transition: .4s; /*4 milésicmo de segundo*/
  text-decoration: underline;
  cursor: pointer;
}

/* ESTILIZANDO OS BOTÕES */
.box-btn-actions {
  display: flex;
  gap: 1rem;
}

:is(button,.link-action) {
  padding: .6rem;
  font-size: .9rem;
  border-radius: 6px;
  cursor: pointer;
  transition: .4s;
}

.btn-action{
  background-color: transparent;
  border: 1px solid var(--text-color);
  color: var(--text-color);
}
/* EFEITOS AO PASSAR O MOUSE */
.btn-action:hover{
  background-color: var(--color3);
  border: 1px solid var(--color3);
}

.link-action{
  text-decoration: none;
  width: 200px;
  text-align: center;
}

/* FORMATANDO NOSSOS ELEMENTOS CENTRAIS */
main{
  display: flex;
  flex-direction: column;
  gap: 2rem; /*aumentando o espaço entre as sections*/
}

section{
  padding: 4rem;
}

.first-section{
  display: flex;
  justify-content: space-evenly; /*distribui o espaços entre os elementos igualmente*/
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  min-height: 650px;
}

/* Pegando a primeira div da section */

.first-section > div{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 300px;
}

.first-section p {
  color: var(--text-color);
}

/* Configurando o texto da primeira seção */
h1{
  font-size: 4rem;
  color: var(--text-color);
  letter-spacing: 8px;  /* Espaçamento entre as letras*/
}

strong {
  color: var(--cyan1);
}
.box-img-main{
  max-width: 400px;
  padding: 1rem;
}

.img-profile{
  border-radius: 50%;
  width: 100%; /*ajudar na responsividade da página*/
}
/* ESTILIZANDO A SEÇÃO DE EXPERIÊNCIAS */
:is(.second-section, .fourth-section){   /*:is() é uma pseudo-classe do CSS que simplifica seletores longos ao agrupar vários seletores em uma lista*/
  background-color: var(--color2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.second-section ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;  /*alinhando na vertical os itens*/
  gap: 2rem;
  flex-wrap: wrap;
}

.second-section ul li{
  color: var(--color4);
  letter-spacing: 2px;
  font-weight: bold;
}

.second-section ul li:hover{
  color: var(--color5);
  transition: .4s;
  cursor: default;
  
}
.title{
  color: var(--color5);
}

.third-section{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.third-section > div{
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.third-section > div img{
  width: 250px;
  border-radius: 10px;
}

.third-section > div p{
  max-width: 600px;
  color: var(--text-color);
  text-align: justify;
}

footer{
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer > div{
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.bi{
  fill: var(--icons);
}

#my-projects-list {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

#my-projects-list a{
  text-decoration: none;
  color: var(--color4);
}

#my-projects-list a:hover{
  color: var(--color5);
  transition: .4s;
  cursor: pointer;
}

:is(.img-profile, .img-who-am-i){
  box-shadow: 1px 1px 1px 1px var(--cyan1);
}